/***************
root styles  
***************/
:root {
  --primary-color: #035755;
  --secondary-color: #4b4f51;
  --brand-primary-color: #fb4c47;
  --brand-secondary-color: #fa5652;
  --light-color: rgba(250, 86, 82, 0.15);
  --transition: all 0.2s ease-in;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***************
header  
***************/
header {
  height: 100vh;
}
/* nav */
header .navbar {
  justify-content: space-between;
  padding-top: 2rem;
}

.nav-logo img {
  width: 70%;
}

.nav-link a {
  padding: 0.5rem 1.25rem;
  transition: var(--transition);
  position: relative;
}

.nav-link a::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  bottom: 0;
  left: calc(50% - 2.5px);
  background-color: #ffffff;
  transition: var(--transition);
}

.nav-link:hover a {
  color: var(--brand-primary-color);
}

.nav-link:hover a::before,
.nav-special-link:hover a {
  background-color: var(--brand-primary-color);
  color: #ffffff;
}

.nav-special-link a {
  padding: 0.5rem 1.5rem;
  color: var(--brand-primary-color);
  border: 1.9px solid var(--brand-primary-color);
  border-radius: 2.75rem;
  transition: var(--transition);
}

/* hero */
.hero-info a {
  margin: 1rem 0;
}
/***************
about  
***************/
.about .grid {
  grid-column-gap: 2.5rem;
}

.about-details h1 {
  margin-bottom: 2rem;
}
/***************
contagion
***************/
.cards-container {
  grid-gap: 2.5rem;
}

.card {
  background: #ffffff;
  box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  height: 100%;
  transition: var(--transition);
  border-bottom: 5px solid #ffffff;
  cursor: pointer;
}

.card:hover {
  border-bottom: 5px solid var(--brand-primary-color);
}

.card img {
  width: 205px;
  height: 205px;
}
/***************
symptoms  
***************/
.symptoms .container img {
  width: 64%;
}
/***************
 awareness
***************/
.article-container article .grid {
  grid-template-columns: 1fr 4fr;
}

.article-container article:nth-of-type(even) img {
  order: 1;
  justify-self: flex-start;
}

.article-container article:nth-of-type(even) .article-instruction {
  order: 2;
}

.article-container article .article-number {
  font-family: "Red Hat Display", sans-serif;
  align-self: flex-start;
  justify-self: flex-end;
  margin-right: 1.25rem;
  font-size: 1.75rem;
  padding: 0.75rem 0.875rem;
  background: var(--light-color);
  border-radius: 50%;
  color: var(--brand-secondary-color);
  font-weight: bold;
}

article .article-info h3 {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.9px;
}

.article-container img {
  justify-self: flex-end;
  width: 400px;
}
/***************
root styles  
***************/
